
<div class="div text-center">

  <h1 class="sm:text-3xl text-3xl font-bold title-font text-green-500 mb-4 animate-bounce">Projects</h1>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:grid-cols-3 lg:gap-8  p-4">



  <!-- card  -->


  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">Equinox</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">Feb 2023 - Present</h1>
    <p class="p-4 pt-0 text-white text-sm">
      Led development of a cloud-based, HIE-integrated EMR with features like scheduling, documentation, and telehealth.
Managed a 20-member team, built core front-end modules, and oversaw code reviews and deployments.
    </p>

  

  </div>
  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">Confidant Health</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">May 2019 - Feb 2023</h1>
    <p class="p-4 pt-0 text-white text-sm">
      Led development of a mental health platform with web/mobile apps for therapy, chat, mood tracking, and goal setting.
Managed a 20-member team, built core front-end modules, handled deployments, and published to app stores.
    </p>

  

  </div>
  <div class="cont h-32 rounded-lg bg-green-500 shadow shadow-green-500">
    <h1 class="pt-12 p-4 text-2xl text-white font-bold ">
IBM Watson University Chatbot</h1>
    <h1 class="px-4 pb-2 text-1xl text-white font-bold ">Oct 2017 - Oct 2018</h1>
    <p class="p-4 pt-0 text-white text-sm">
     Developed a university-focused AI chatbot using IBM Watson Assistant for admissions, enrollment, and campus support.
Enabled personalized, scalable assistance through machine learning, handling multiple queries interactively and efficiently.
    </p>

  

  </div>


  <!-- end card  -->

  <!-- card  -->





  <!-- end card  -->

  <!-- card  -->


 


  <!-- end card  -->

  <!-- card  -->


 


  <!-- end card  -->

  <!-- card  -->





  <!-- end card  -->

  <!-- card  -->




  <!-- end card  -->

  <!-- card  -->


  


  <!-- end card  -->

  <!-- card  -->




  <!-- end card  -->

  <!-- card  -->



  <!-- end card  -->

</div>



<p>
