<section class="body-font">
  <div class="text-3xl text-green-500 font-bold text-center animate-pulse">
  Experience
  </div>
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      
      <!-- About Me Section -->

      <!-- Timeline Start -->
      <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">1</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-green-400 rounded-full inline-flex items-center justify-center">
           <img src="https://media.licdn.com/dms/image/v2/C560BAQHl8QdQ-JdIpg/company-logo_200_200/company-logo_200_200/0/1630580942397/stellatech_ksa_logo?e=2147483647&v=beta&t=r47qoP1jetRQHiNsSvdgKVsdtPIA-ftPpjB8-mtNZiM" alt="img" class="rounded-full">
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-green-400 mb-1 text-xl">Software Engineer – Stella Technology</h2>
            <p class="leading-relaxed">Worked with Node.js, Spring Boot, ReactJS, Docker, MongoDB, and more. Built scalable healthcare applications with microservices architecture and contributed to major deployments with the engineering team.</p>
          </div>
        </div>
      </div>

      <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">2</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-green-500 rounded-full inline-flex items-center justify-center">
             <img src="https://media.licdn.com/dms/image/v2/C560BAQHl8QdQ-JdIpg/company-logo_200_200/company-logo_200_200/0/1630580942397/stellatech_ksa_logo?e=2147483647&v=beta&t=r47qoP1jetRQHiNsSvdgKVsdtPIA-ftPpjB8-mtNZiM" alt="img" class="rounded-full">
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-green-500 mb-1 text-xl">Technical Sub Lead</h2>
            <p class="leading-relaxed">Led modules in Angular, React Native, Spring Boot, and hapi.js with Karma and Jasmine testing. Played key role in frontend and backend feature integrations for healthcare systems.</p>
          </div>
        </div>
      </div>

      <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">3</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-green-500 rounded-full inline-flex items-center justify-center">
          <img src="https://media.licdn.com/dms/image/v2/C560BAQHl8QdQ-JdIpg/company-logo_200_200/company-logo_200_200/0/1630580942397/stellatech_ksa_logo?e=2147483647&v=beta&t=r47qoP1jetRQHiNsSvdgKVsdtPIA-ftPpjB8-mtNZiM" alt="img" class="rounded-full">
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-green-500 mb-1 text-xl">Associate Technical Lead</h2>
            <p class="leading-relaxed">Currently leading projects in MongoDB, Angular, GitLab, RxJS, PrimeNG, and more. Responsible for sprint planning, technical leadership, and guiding cross-functional teams to deliver high-impact healthcare solutions.</p>
          </div>
        </div>
      </div>

      <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
        <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
          <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
        </div>
        <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">4</div>
        <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
          <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-green-500 rounded-full inline-flex items-center justify-center">
            <img src="https://media.licdn.com/dms/image/v2/C4D0BAQHEQpwIIxLk6Q/company-logo_100_100/company-logo_100_100/0/1630574085977/ikonami_logo?e=1756339200&v=beta&t=Ej7vO_JU2KNXYQWHG0q_QEpNvDsjNxF3z9BmZpE7L-I" alt="img" class="rounded-full">
          </div>
          <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
            <h2 class="font-medium title-font text-green-500 mb-1 text-xl">Junior Software Engineer</h2>
            <p class="leading-relaxed">Started my journey working with Spring Boot, React.js, TypeScript, and Material-UI. Gained deep insight into scalable UI development and integration in enterprise-grade systems.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
