.stamp {
  --r: 20px; /* control the radius */

  height: 250px;
  aspect-ratio: 1.5;
  padding: var(--r);
  background: #b3b39c;
  mask: 
    radial-gradient(50% 50%,#0000 66%,#000 67%) round 
     var(--r) var(--r)/calc(2*var(--r)) calc(2*var(--r)), 
    conic-gradient(#000 0 0) content-box;
}