<app-about></app-about>
<app-experience></app-experience>
<div class="h-screen flex justify-center items-center dark:bg-gray-800 p-4">
  <div class="max-w-xl mx-auto w-full">

    <h4 class="text-4xl md:text-4xl font-medium  mb-6 text-green-400 text-center animate-pulse">Skills</h4>

    <!-- Web Design -->
    <div class="mb-7">
        <div class="mb-7">
          <div class="flex justify-between py-1">
            <span class="text-base text-gray-lite font-semibold dark:text-[#A6A6A6]">Angular</span>
            <span class="text-base font-semibold text-gray-lite pr-5 dark:text-[#A6A6A6]">95%</span>
          </div>
          <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
            <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
            <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#00E639" stroke-width="1" fill-opacity="0"
              style="stroke-dasharray: 95px, 100px; stroke-dashoffset: 0;"></path>
          </svg>
        </div>
      <div class="flex justify-between py-1">
        <span class="text-base text-gray-lite font-semibold dark:text-[#A6A6A6]">React</span>
        <span class="text-base font-semibold text-gray-lite pr-5 dark:text-[#A6A6A6]">80%</span>
      </div>
      <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#00E639" stroke-width="1" fill-opacity="0"
          style="stroke-dasharray: 80px, 100px; stroke-dashoffset: 0;"></path>
      </svg>
    </div>

    <!-- Mobile App Development -->

    <!-- UI/UX Design -->
    <div class="mb-7">
      <div class="flex justify-between py-1">
        <span class="text-base text-gray-lite font-semibold dark:text-[#A6A6A6]">Spring Boot</span>
        <span class="text-base font-semibold text-gray-lite pr-5 dark:text-[#A6A6A6]">70%</span>
      </div>
      <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#00E639" stroke-width="1" fill-opacity="0"
          style="stroke-dasharray: 70px, 100px; stroke-dashoffset: 0;"></path>
      </svg>
    </div>

    <!-- Adobe Illustrator -->
    <div class="mb-7">
      <div class="flex justify-between py-1">
        <span class="text-base text-gray-lite font-semibold dark:text-[#A6A6A6]">Node.js</span>
        <span class="text-base font-semibold text-gray-lite pr-5 dark:text-[#A6A6A6]">65%</span>
      </div>
      <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#00E639" stroke-width="1" fill-opacity="0"
          style="stroke-dasharray: 65px, 100px; stroke-dashoffset: 0;"></path>
      </svg>
    </div>

    <!-- Photoshop -->
    <div class="mb-7">
      <div class="flex justify-between py-1">
        <span class="text-base text-gray-lite font-semibold dark:text-[#A6A6A6]">MongoDB</span>
        <span class="text-base font-semibold text-gray-lite pr-5 dark:text-[#A6A6A6]">75%</span>
      </div>
      <svg class="rc-progress-line" viewBox="0 0 100 1" preserveAspectRatio="none">
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#D9D9D9" stroke-width="1" fill-opacity="0"></path>
        <path d="M 0.5,0.5 L 99.5,0.5" stroke-linecap="round" stroke="#00E639" stroke-width="1" fill-opacity="0"
          style="stroke-dasharray: 75px, 100px; stroke-dashoffset: 0;"></path>
      </svg>
    </div>

  </div>
</div>
<!-- education 
 section -->
 <section class=" body-font">
  <h4 class="text-4xl md:text-4xl font-medium  mb-6 text-green-400 text-center animate-pulse">Education</h4>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
        <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGLuJPmu5KcKQ/company-logo_100_100/company-logo_100_100/0/1631351087177?e=1756339200&v=beta&t=zebHi7Yy3k7e8w1CzXxRlhXLaDP-A2XPNo8xfAmeqIs" loading="lazy" class="rounded-full" alt="">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class=" text-lg title-font font-medium mb-2">QAU Islamabad, Pakistan</h2>
        <p class="leading-relaxed text-base">Quaid-i-Azam University (QAU), located in Islamabad, is one of Pakistan’s premier institutions known for its academic excellence and research contributions</p>
        <a class="mt-3 animate-pulse text-indigo-500 inline-flex items-center" href="https://qau.edu.pk/">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class=" text-lg title-font font-medium mb-2">Punjab College</h2>
        <p class="leading-relaxed text-base">Punjab College is a leading educational institution in Pakistan, recognized for its strong academic foundation and commitment to student success from intermediate to higher education.</p>
        <a class="mt-3 text-indigo-500 inline-flex items-center animate-pulse" href="https://pgc.edu/">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWjiE7MQKHSPwcrUshw4v5wqgvYwJGyvJL8g&s" class="rounded-full" alt="">
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ7AiPLX7wN_xBgmjXjvTEqsfdzAQfN3YouQ&s" class="rounded-full" alt="">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class=" text-lg title-font font-medium mb-2">St Mary's Cambridge Higher Secondary School</h2>
        <p class="leading-relaxed text-base">St. Mary's Cambridge Higher Secondary School is a well-reputed institution known for its academic excellence, disciplined environment, and commitment to holistic student development.</p>
        <a class="mt-3 text-indigo-500 inline-flex items-center animate-pulse" href="https://en.wikipedia.org/wiki/St_Mary%27s_Cambridge_Higher_Secondary_School">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
    
  </div>
</section>
<app-projects></app-projects>
<app-contact></app-contact>
