@import 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css';
@import 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css';

.anima {
  animation: animationName 1s ease-in-out forwards;


}
.brdr{
      border-right: black;
}

@keyframes animationName {
 
  100% {
    transform: translateX(42rem);
 
  }
}

.cross {
  animation: crossbar 1s ease-in-out backwards;

}

@keyframes crossbar {
 0%{
     
    transform: translateX(42rem);
  }
 
  100% {
    transform: translateX(-15rem);
  }
}

/* From Uiverse.io by ArturCodeCraft */ 
/* <reset-style> ============================ */
/* Icon Button */
.theme__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:  #00e63aca;

  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme__icon:hover {
  background-color: #00e63af4;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* You can also add other dark-mode element styles */




